<div class="navbar bg-zinc-800 text-zinc-300 flex items-center p-4 border-b border-zinc-700" role="navigation" aria-label="main navigation">
  <div>
    <%= link_to "scrum poker", root_path, class: "text-white text-2xl font-medium" %>
  </div>
  <% if @room.present? %>
  <div class="flex-grow text-center">
    <div class="text-lg text-zinc-400">Room #&nbsp;<span class="text-white"><%= @room.number %> </span></div>
    <div class="flex items-center justify-center mt-2">
      <%= link_to join_room_url, join_room_url(@room.number), class: "inline-block text-sm text-zinc-300 underline" %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 cursor-pointer ml-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184" />
      </svg>
    </div>
  </div>
  <% end %>
  <div class="flex gap-2">
    <% if user_signed_in? %>
      <div>
        <%= link_to current_user.guest ? current_user.name : current_user.username, edit_user_registration_path, class: "text-white font-bold" %>
      </div>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: "delete", turbo_confirm: "Are you sure you want to log out?" }, class: "text-zinc-300 hover:text-white" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "text-zinc-300 hover:text-white" %>
      <span class="text-zinc-500">|</span>
      <%= link_to "Sign up", new_user_registration_path, class: "text-zinc-300 hover:text-white" %>
    <% end %>
  </div>
</div>
